body
{
	font-family: Arial, Helvetica, sans-serif;
	width:970px;
	margin: auto;
	font-size: 13px;
	

}
.head-conatiner
{
	height: 75px;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
	border: 1px solid #000000;
	/*background-color: #0000CD;*/
	background-color: #AC2832;
	color: #000000;
	padding-top: 30px;
}


.main-container
{
	border : 2px solid #000000;
	margin-top: 10px;
	background-color:#DFD297;
}

/*Css for Table*/

.tbl-output {
	width: 20%;
	/*font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
	font-family :  sans-serif;
	 margin: 0% 40% 2% 40%;
   
}
.tbl-output caption {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
}
.tbl-output th, .tbl-output td {
	text-align: left;
	padding: 5px;
	border : 1px solid;
	vertical-align: middle;
}
/*
.tbl-output thead th:nth-child(even) {
	background-color: #f1f1f1;
    font-weight:bold;
    color : #000000;
}*/
.tbl-output thead th {
	/*background-color: #330000;*/
	color : #000000;
    font-weight:bold;
	background-color: #AC2832;
	font-size: 1em;
}




.tbl-output1 {
	font-family : 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     margin: 0% 25% 30% 25%;
	 width:50%;
	display: inline-block;
	display:inline;
	
}
.tbl-output1 caption {
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	margin-top: 20px;
	
}
.tbl-output1 th, .tbl-output1 td {
	text-align: Center;
	padding: 4px;
	border : 1px solid;
	vertical-align: middle;
	font-weight:bold;
}

.tbl-output1 thead th {
	background-color: #AC2832;
	color : #000000;
    font-weight:bold;
	font-size: 1em;
}

.btn {
	border: 2px solid #919191;
	color: #000;
	background-color: #AC2832;
	padding:5px 8px;
	font-weight:bold;
	font-size:1.3em;
	cursor:pointer;
	border-radius:3px;
	/*box-shadow: inset 10px 4px 4px #cfcfcf;*/
}
.btn-container {
	text-align: center;
	padding:15px;
}